html {
  font-size: 110%;
}

.container {
  margin-top: 3em;
  margin-bottom: 3em;
  width: 710px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 0 !important;
}

h3, h4, h5, h6 {
  margin-bottom: .5em !important;
}

p {
  margin: 0 0 1em;
}

pre {
  margin: 1em 0;
  border: 1px solid #ddd;
  padding: .25em .25em;
  background-color: #eef;
}

code {
  border: 1px solid #ddd;
  padding: 0 .2em;
  background-color: #eef;
}

pre code {
  border: none;
}

ul {
  padding-left: 2em;
}

td {
  padding: .25em 1em .25em 0;
}