<!doctype html>
<html lang="en" dir="rtl">
 <head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="author" content="Tom Preston-Werner">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/lang/ar/arabic.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
</head>
 <body>
   <ol class="nav lang" dir="ltr">
     <li><a href="/">english</a> [en]</li>
     <li><a lang="fr" rel="alternate" hreflang="fr" href="/lang/fr">fran&ccedil;ais</a> [fr]</li>
     <li><a lang="ru" rel="alternate" hreflang="ru" href="/lang/ru">pycc&#1082;&#1080;&#1081;</a> [ru]</li>
     <li><a lang="es" rel="alternate" hreflang="es" href="/lang/es">espa&ntilde;ol</a> [es]</li>
     <li><a lang="it" rel="alternate" hreflang="it" href="/lang/it">italiano</a> [it]</li>
     <li><a lang="pt-BR" rel="alternate" hreflang="pt-BR" href="/lang/pt-BR">portugu&ecirc;s brasileiro</a> [pt-BR]</li>
     <li><a lang="zh-TW" rel="alternate" hreflang="zh-TW" href="/lang/zh-TW/">&#32321;&#39636;&#20013;&#25991;</a> [zh-TW]</li>
     <li><a lang="zh-CN" rel="alternate" hreflang="zh-CN" href="/lang/zh-CN/">&#31616;&#20307;&#20013;&#25991;</a> [zh-CN]</li>
     <li><a lang="ko" rel="alternate" hreflang="ko" href="/lang/ko">&#54620;&#44397;&#50612;</a> [ko]</li>
     <li><a lang="sk" rel="alternate" hreflang="sk" href="/lang/sk">slovensky</a> [sk]</li>
     <li><a lang="ar" rel="alternate" hreflang="ar" href="/lang/ar">العربية</a> [ar]</li>
   </ol>
   <ol class="nav">
     <li><a href="/spec/ar/v2.0.0.html">v2.0.0</a></li>
   </ol>
   {{ content }}
 </body>
</html>
