<!doctype html>
<html>
 <head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="author" content="Tom Preston-Werner">
  <link rel="stylesheet" href="/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
</head>
 <body>
   <ol class="nav lang">
     <li><a href="/">english</a></li>
     <li><a href="/lang/fr">french</a></li>
     <li><a href="/lang/es">spanish</a></li>
   </ol>
   <ol class="nav">
     <li><a href="/lang/fr">v1.0.0</a></li>
   </ol>
   {{ content }}
 </body>
</html>
