<!doctype html>
<html lang="fr" dir="ltr">
 <head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="author" content="Tom Preston-Werner">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/language.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
</head>
 <body>
   <ol class="nav lang">
     <li class="language_original"><a lang="en" rel="alternate" hreflang="en" href="/">english</a> [en]</li>
     <li class="language_current"><a href="/lang/fr">fran&ccedil;ais</a> [fr]</li>
     <li><a lang="es" rel="alternate" hreflang="es" href="/lang/es">espa&ntilde;ol</a> [es]</li>
     <li><a lang="it" rel="alternate" hreflang="it" href="/lang/it">italiano</a> [it]</li>
   </ol>
   <ol class="nav">
     <li><a href="/lang/fr/spec/v2.0.0.html">v2.0.0</a></li>
     <li><a href="/lang/fr/spec/v1.0.0.html">v1.0.0</a></li>
   </ol>
   {{ content }}
 </body>
</html>
