<!doctype html>
<html lang="pt-br" dir="ltr">
 <head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="author" content="Ciro Nunes">
  <link rel="stylesheet" href="/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
</head>
 <body>
   <ol class="nav lang">
     <li><a lang="en" rel="alternate" hreflang="en" href="/">english</a> [en]</li>
     <li><a lang="fr" rel="alternate" hreflang="fr" href="/lang/fr">fran&ccedil;ais</a> [fr]</li>
     <li><a lang="ru" rel="alternate" hreflang="ru" href="/lang/ru">pycc&#1082;&#1080;&#1081;</a> [ru]</li>
     <li><a lang="es" href="/lang/es">espa&ntilde;ol</a> [es]</li>
     <li><a lang="it" rel="alternate" hreflang="it" href="/lang/it">italiano</a> [it]</li>
     <li><a lang="zh-TW" rel="alternate" hreflang="zh-TW" href="/lang/zh-TW/">&#32321;&#39636;&#20013;&#25991;</a> [zh-TW]</li>
     <li><a href="/lang/pt-br">portuguese</a> [pt-br]</li>
   </ol>
   <ol class="nav">
     <li><a href="/lang/es">v2.0.0-rc.2</a></li>
   </ol>
   {{ content }}
 </body>
</html>
